body {
    background: #ffffff;
    color: #464646;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    padding: 0;
    margin: 0;
}

.button,
.report-table .header,
h2 {
    font-family: "Century Gothic", sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h2 {
    color: #465771;
    font-size: 160%;
    text-transform: capitalize;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 10px 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    margin-left: 30px;
    padding: 7px;
}

.button,
a .button,
a:visited .button {
    padding: 10px 20px;
    background: #A0C5E8;
    color: #465771;
    cursor: pointer;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.button:hover,
a .button:hover,
a:hover .button:hover,
a:visited:hover .button:hover {
    background: #b0d9ff;
    color: #2e3b51;
}

#container {
    padding: 10px 10px;
}

#navigation {
    width: 100%;
    position: fixed;
    background: #ffffff;
}

#navigation-place {
    height: 42px;
}

#navigation .info-navigation-button,
#navigation .shop-navigation-button,
#navigation .export-navigation-button,
#shop .button {
    background: #8db0d5;
    color: #FFFFFF;
}

#shop .button {
    width: 200px;
}

#shop .block {
    float: left;
    padding-right: 10px;
}

.container-block {
    width: 100%;
}

.report-a-version-container-block {
    width: 48%;
}

.report-a-version-container-block {
    padding: 0 1%;
}

.container-block {
    margin: 0 auto;
    margin-top: 50px;
}

.report-table {
    width: 100%;
}

.report-table .table-column {
    margin: 0;
    padding: 10px;
    border: 1px solid #eeecec;
    text-align: center;
}

.report-table .header {
    background: #eeecec;
    border: 1px solid #d0cece;
    font-weight: bold;
}

.report-table .value {
    line-height: 140%;
}

.report-table .important {
    background: #faf8f8;
}

.report-table .left-align {
    text-align: left;
}

.report-table img {
    width: 50px;
}

.report-table .second-value,
#info .value.last {
    color: #B9B9B9;
    font-style: italic;
}

#info,
#shop {
    padding: 50px;
    display: none;
    position: fixed;
    background: #FAF8F8;
    border: 1px solid #B9B9B9;
    border-top: none;
    width: 100%;
}

#info .value {
    font-weight: bold;
}

.display-none,
.more-display-none {
    display: none;
}

.info .name {
    font-weight: bold;
    padding: 10px 0;
}

.info {
    display: none;
    padding: 20px;
    border: 1px solid #8db0d5;
    border-bottom: 0;
}

.report-a-version-container-block {
    float: left;
}

.clearfix {
    clear: both;
}

.button-block .button {
    margin-top: 0px;
}

.info-button {
    background: #FFFFFF;
    border: 1px solid #8db0d5;
    border-top: none;
    color: #8db0d5;
}

.export-url {
    padding: 30px;
    border: 2px solid green;
    font-weight: bold;
}

.export-url a,
.export-url a:hover,
.export-url a:visited {
    color: #000000;
}