<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Tester{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/tester_front.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div id="header">
    {% block header %}{% endblock %}
</div>
<div id="container">
    {% block container %}{% endblock %}
</div>
<script type="text/javascript" language="javascript">
    {% block javascripts %}{% endblock %}
</script>
</body>
</html>